body {
    font-family: 'Dancing Script', cursive;
    line-height: 1.5;
  
    background-color: #f9f9f9;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    font-style: italic; /* Добавляем эффект рукописного текста */
    font-variant-ligatures: contextual; /* Добавляем контекстуальные лигатуры */
}

main > h2 {
    text-align: center;
    font-size: 25px;
    font-style: italic; /* Добавляем эффект рукописного текста */
    font-variant-ligatures: contextual; /* Добавляем контекстуальные лигатуры */
}
